{% extends '_layout.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <h3>Add A Subject</h3>
    <label for="title">Title:</label>
    <input id="title" name="title" autocomplete="off" required>

    <label for="subject">Subject:</label>
    <input id="subject" name="subject" autocomplete="off" required>

    <label for="year">Year:</label>
    <select id="year" name="year" autocomplete="off" required>
        <option>year</option>
        {% for i in range(11, 14) %}
        <option>{{i}}</option>
        {% endfor %}
    </select>

    <label for="description">Description:</label>
    <textarea style="resize:none" id="description" name="description" cols="45" rows="5"></textarea>

    <label for="internal_credits">Internal Credits:</label>
    <input id="internal_credits" name="internal_credits" type="number" min="0" step="1" autocomplete="off" required>

    <label for="external_credits">External Credits:</label>
    <input id="external_credits" name="external_credits" type="number" min="0" step="1" autocomplete="off" required>

    <input type="submit" value="Create Subject" autocomplete="off" required>
</form>
{% endblock %}
