{% extends '_layout.html' %}

{% block title %}Subject Dashboard{% endblock %}

{% block content %}

<style>
    {% for row in result %}
    td.colour{{row.id}} {
        background-color: {{row.colour}};
    }
    #colour{{row.id}}:hover {
        background-color: {{row.colour}}7F!important;
    }
    {% endfor %}
</style>

<table class="table">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Subject</th>
        <th>Year</th>
        <th>Description</th>
        <th>Internal Credits</th>
        <th>External Credits</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Actions</th>
    </tr>
    {% for row in result %}
    <tr id="colour{{row.id}}">

        <td class="colour{{row.id}}">{{ row.id }}</td>
        <td>{{ row.title }}</td>
        <td>{{ row.subject }}</td>
        <td>{{ row.year }}</td>
        <td>{{ row.description }}</td>
        <td>{{ row.internal_credits }}</td>
        <td>{{ row.external_credits }}</td>
        <td>{{ row.start_date }}</td>
        <td>{{ row.end_date }}</td>
        <td>
            <a title="View {{ row.title }}" aria-label="View Subject" href="{{ url_for('view_subject', id=row['id']) }}"><i class="fa-solid fa-eye"></i></a>
            <a title="Edit {{ row.title }}" aria-label="Edit Subject"  href="{{ url_for('edit_subject', id=row['id']) }}"><i class="fa-solid fa-pen"></i></a>
            <a title="Delete {{ row.title }}" aria-label="Delete Subject" href="{{ url_for('delete_subject', id=row['id']) }}" onclick="return confirm('Are you sure? you want to delete {{row.title }} ({{ row.subject }})')"><i class="fa-solid fa-trash-can"></i></a>
        </td>
    </tr>
    {% endfor %}
</table>
<a class="btn" href="{{ url_for('add_subject') }}">Add a new subject</a>
{% endblock %}
