{% extends '_layout.html' %}

{% block title %}Select a subject{% endblock %}

{% block content %}
<table class="flat-table">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Subject</th>
        <th>Year</th>
        <th>Description</th>
        <th>Internal Credits</th>
        <th>External Credits</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Actions</th>
    </tr>
    {% for row in result %}
    <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.title }}</td>
        <td>{{ row.subject }}</td>
        <td>{{ row.year }}</td>
        <td>{{ row.description }}</td>
        <td>{{ row.internal_credits }}</td>
        <td>{{ row.external_credits }}</td>
        <td>{{ row.start_date }}</td>
        <td>{{ row.end_date }}</td>
        <td>
            <a href="/viewsubject?id={{ row.id }}">View</a>
            <a href="{{ url_for('user_add_subject', student_id=session['id'], subject_id=row['id']) }}">Select</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
