{% extends '_layout.html' %}

{% block title %}Select a subject{% endblock %}

{% block content %}

<style>
    {% for row in result %}
    td.colour{{row.id}} {
        background-color: {{row.colour}};
    }
    #colour{{row.id}}:hover {
        background-color: {{row.colour}}7F!important;
    }
    {% endfor %}
</style>

<div class="flex row wrap subject-group">
    {% for row in result %}
    <div class="column">

        <div class="subject-card column">
            <div class="subject-colourtip colour{{row.id}}"></div>
            <style>
            .colour{{row.id}} {
                background-color: {{row.colour}};
            }

            </style>
            <h2 class="subject-header">{{ row.title }} | {{ row.subject }}</h2>
            <div class="subject-desc">
                <h3>Credits:</h3>
                <p class="">Internal: {{ row.internal_credits }} External: {{ row.external_credits }}</p>
            </div>
            <div class="subject-actions flex row">
                {% if select_left > 0 and not row.id in already_selected %}
                <a class="btn colour{{row.id}}" href="{{ url_for('user_add_subject', student_id=session['id'], subject_id=row['id']) }}">Select</a>
                {% elif row.id in already_selected %}
                <a class="btn danger-btn" href="{{ url_for('delete_user_subject', student_id=session['id'], subject_id=row['id']) }}">Unselect</a>
                {% endif %}
                <a class="btn" href="/viewsubject?id={{ row.id }}">View More</a>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
<table class="table dyslexia">
    <tr>
        <th>Title</th>
        <th>Subject</th>
        <th>Year</th>
        <th>Description</th>
        <th>Internal Credits</th>
        <th>External Credits</th>
        <th>Actions</th>
    </tr>
    {% for row in result %}
    <tr id="colour{{row.id}}">
        <td>{{ row.title }}</td>
        <td>{{ row.subject }}</td>
        <td>{{ row.year }}</td>
        <td>{{ row.description }}</td>
        <td>{{ row.internal_credits }}</td>
        <td>{{ row.external_credits }}</td>

        <td>
            <a title="View More About {{ row.title }}" aria-label="View More About {{ row.title }}" href="/viewsubject?id={{ row.id }}"><i class="fa-solid fa-eye"></i></a>
            {% if select_left > 0 and not row.id in already_selected %}
            <a title="Select {{ row.title }}" aria-label="Select {{ row.title }}"href="{{ url_for('user_add_subject', student_id=session['id'], subject_id=row['id']) }}"><i class="fa-solid fa-check"></i></a>
            {% elif row.id in already_selected %}
            <a title="Unselect {{ row.title }}" aria-label="Unselect {{ row.title }}" href="{{ url_for('delete_user_subject', student_id=session['id'], subject_id=row['id']) }}"><i class="fa-solid fa-xmark"></i></a>
            {% endif %}        
        </td>
    </tr>
    {% endfor %}
</table>

<a class="btn" href="{{ url_for('view_user_subjects', id=session['id']) }}">View selected subjects</a>
{% endblock %}