{% extends '_layout.html' %}

{% block title %}My Subjects{% endblock %}

{% block content %}
<h2>Your Chosen Subjects | ({{5 - select_left}}/5) {% if select_left == 0 %}Please Unselect a subject to choose a new one.{% endif %}</h2>

<div class="flex row wrap subject-group">
    {% for row in result %}
    <div class="column">

        <div class="subject-card column">
            <div class="subject-colourtip colour{{row.id}}"></div>
            <style>
            .colour{{row.id}} {
                background-color: {{row.colour}};
            }

            </style>
            <h2 class="subject-header">{{ row.title }} | {{ row.subject }}</h2>
            <div class="subject-desc">
                <h3>Credits:</h3>
                <p class="">Internal: {{ row.internal_credits }} External: {{ row.external_credits }}</p>
            </div>
            <div class="subject-actions flex row">
                <a class="btn" href="/viewsubject?id={{ row.subject_id }}">View More</a>
                <a class="btn danger-btn" href="{{ url_for('delete_user_subject', id=row.id) }}">Unselect</a>
            </div>
        </div>

    </div>
    {% endfor %}
</div>

{% if select_left > 0 %}
<a class="btn" href="{{ url_for('user_select_subject') }}">Select a new subject</a>
{% else %}
<a class="btn" href="{{ url_for('user_select_subject') }}">View available subjects</a>
{% endif%}

<h2>Credit Information</h2>
<ul>
    <li><span class="profile-stat-count">Internal Credits: {{ credits.internal }}</span></li>
    <li><span class="profile-stat-count">External Credits: {{ credits.external }}</span></li>
    <li><span class="profile-stat-count">Total Credits: {{ credits.total}}</span></li>
</ul>
{# a comment
<table class="flat-table">
    <tr>
        <th>Title</th>
        <th>Subject</th>
        <th>Internal Credits</th>
        <th>External Credits</th>
        <th>Actions</th>
    </tr>
    {% for row in result %}
    <tr>
        <td>{{ row.title }}</td>
        <td>{{ row.subject }}</td>
        <td>{{ row.internal_credits }}</td>
        <td>{{ row.external_credits }}</td>
        <td>
            <a href="/viewsubject?id={{ row.subject_id }}">View</a>
            <a href="{{ url_for('delete_user_subject', id=row.id) }}">Unselect</a>
        </td>
    </tr>
    {% endfor %}
</table>
#}

{% endblock %}
